.about-box {
  background-color: #333232;
  cursor: pointer;
}
.about-description {
  color: white;
}
.about-num {
  color: white;
}
.about-box:hover {
  transform: scale(1.15);
  /* transform: rotate(360deg); */
  background-color: #e84a5f;
  transition: 300ms linear;
}
.about-box:hover .about-num {
  color: #181818;
}
.about-box:hover .about-description {
  color: #181818;
}
