.wrapper {
  perspective: 1000px;
  height: 250px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  background-color: #f0ebe3;
  border-radius: 25px;
}
.wrapper:hover .inner-wrapper {
  transform: rotateY(180deg);
  cursor: pointer;
}
.inner-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.8s;
}
.wrapper-front,
.wrapper-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 25px;
}
.wrapper-back {
  transform: rotateY(180deg);
  overflow-y: scroll;
}
.list-feature::before {
  content: '- ';
}

.live-site {
  background-image: linear-gradient(
    to right,
    #000046 0%,
    #1cb5e0 51%,
    #000046 100%
  );
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.live-site:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.client-site {
  background-image: linear-gradient(
    to right,
    #642b73 0%,
    #c6426e 51%,
    #642b73 100%
  );
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.client-site:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.server-side {
  background-image: linear-gradient(
    to right,
    #41295a 0%,
    #2f0743 51%,
    #41295a 100%
  );
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.server-side:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
